specVersion: 0.0.2
description: Chainlink Price Feeds
repository: https://github.com/avantgarde-finance/chainlink-subgraph
schema:
  file: ./schema.graphql

dataSources:
  {{#pairs}}
  - name: {{{name}}}
    kind: ethereum/contract
    network: mainnet
    source:
      address: '{{{address}}}'
      abi: AggregatorProxy
      startBlock: {{{block}}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities: []
      file: ./src/mappings/aggregators/{{{filename}}}.ts
      abis:
        - name: AggregatorProxy
          file: ./node_modules/@chainlink/contracts/abi/v0.7/AggregatorProxy.json
      blockHandlers:
        - handler: handleBlock
  {{/pairs}}
templates:
  - name: Aggregator
    kind: ethereum/contract
    network: mainnet
    source:
      abi: AggregatorInterface
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities: []
      file: ./src/mappings/feeds.ts
      abis:
        - name: AggregatorInterface
          file: ./node_modules/@chainlink/contracts/abi/v0.8/AggregatorInterface.json
      eventHandlers:
        - event: AnswerUpdated(indexed int256,indexed uint256,uint256)
          handler: handleAnswerUpdated
