import { AnswerUpdated, NewRound } from '../../generated/EACAggregatorProxy';
import { handleAnswerUpdatedForPair, handleNewRoundForPair } from '../feeds';

export function handleAnswerUpdated(event: AnswerUpdated): void {
  handleAnswerUpdatedForPair('{{{pair}}}', event);
}

export function handleNewRound(event: NewRound): void {
  handleNewRoundForPair('{{{pair}}}', event);
}
